!!! 5
%html
  %head{lang:"ja"}
    %title MoE 古びた地図検索機
    %meta{ :content => "", :name => "MoE map searcher" }
    %meta{ :content => "", :name => "mznh" }
    %meta{charset:"utf-8"}
    %meta{name:"viewport",content:"width=device-width,initial-scale=1"}
    %meta{"http-equiv":"X-UA-Compatible",CONTENT:"IE=EmulateIE9"}
    %link{rel:"stylesheet",type:"text/css",href:"./style.css"}
  %body
    #header
      %h1 MoE 古びた地図検索機
    #main
      %p 
        エラー発生中！ 
        %a{href:"http://moewiki.usamimi.info/"}
          MoEWiki
        が落ちてるかも…？
    #footer
      #about_me
        %table#link<
          %tr
            %td<>
              %h4<>
                Contact
          %tr
            %td<>
              twitter
            %td<>
              %a{href:"https://twitter.com/mznh"}<>
                @mznh
          %tr
            %td<>
              home page
            %td<>
              %a{href:"http://mznh.jp"}<
                mznh.jp


