!!!
%html
  %head
    %title MoE 古びた地図検索機
    %meta{charset:"utf-8"}
    %meta{name:"viewport",content:"width=device-width,initial-scale=1"}
    %meta{"http-equiv":"X-UA-Compatible",CONTENT:"IE=EmulateIE9"}
  %body
    %h1 MoE 古びた地図検索機
    %form{action:"/",method:"post"}
      %input{type:"text",name:"number"}
      %input{type:"submit",value:"検索"}
    %p #{$res.to_s}
