!!!
%html
  %head
    %title MoE 古びた地図検索機
    %meta{charset:"utf-8"}
    %meta{name:"viewport",content:"width=device-width,initial-scale=1"}
    %meta{"http-equiv":"X-UA-Compatible",CONTENT:"IE=EmulateIE9"}
  %body
    %p #{$res.to_s}
