
@charset "UTF-8";

/*============================================
スマートフォン向けレイアウト
============================================*/
*{
  margin:0px; padding:0px;
  line-height:1.5;  
  /*background-color:#FFFFFF;  ページ全体の背景色*/
  color:#000000;  
  font-family:'arial','sans-serif';
  text-align:left;
} 
body{
  padding:0px;
  height: auto !important; 
  height: 100%; 
  min-height: 100%; 
  background-image: url(./bg.png);
  background-repeat: repeat;
}
header{
  width:100%;
  background-color:rgba(200,200,200,0.1);
}
h1{
  font-size:9vw;
  /*background-color:#F0F0F0; */
}
main{
}

div.type_title {
  margin:4px 0px;
  height:24px;
}
.type_title > h2 {
  display:inline;
  margin:0px;
}
.type_title > img {
  display:inline;
  height:23px;
  width:auto;
  padding:5px 0px 0px;
}
footer{
}
div.predecipher{
  background-color:rgba(250,250,250,0.2);
  margin:10px;
}
div.deciphered{
  background-color:rgba(250,250,250,0.2);
  margin:10px;
}
div.form_space{
  width:100%;
  padding:0px;
}
input, button, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


input, select{
  display: inline;
  position: relative;
  border: 1px solid #ccc;
  background-color:#FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin:0px 1px;
  font-size:24px;
  overflow: hidden;
}
input{
  max-width: 100%;
}

input.submit{
  width: 100%;
  height: 40px;
  text-align:center;
  background-color:#CCCCCC;
}
div.result_space{
  font-size:18px;
  margin:5px;
  padding:0px;
}

img{
  width:100%
}

div.known_issues {
  margin: 30px 0px;
}
.known_issues > h2{
  font-size:16px;
}
.known_issues > p{
  font-size:12px;
}

span {
  display:inline-block;
}

div.credits{
  display: inline;
  margin:2px; 
  float: left;
  text-align:left;
}
div.about_me{
  display: inline;
  margin:2px; 
  text-decoration:none;
  text-align:right;  
}
p.notes{
  font-size:14px;
  text-align:left;
}

table.link{
  display: inline-block;
  text-align:left;
  border:none;
}
td{
  padding:1px 6px;
  text-align:left;
}
